*-stamp
*.a
*.exe
*.la
*.lo
*.o
*.pc
.auto
.deps
.dirstamp
.libs
/m4/libtool.m4
/m4/lt*.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
csstest
depcomp
doc/doxygen.cfg
doc/html
doc/latex
dvd_region
install-sh
libtool
ltmain.sh
missing
stamp-*
