*-stamp
*.a
*.exe
*.la
*.lo
*.o
*.pc
.auto
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
doc/doxygen.cfg
doc/html
doc/latex
install-sh
libtool
ltmain.sh
missing
stamp-*
test/csstest
