.deps
/*.exe
/*.la
/.auto
/.libs
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/csstest
/depcomp
/dvd_region
/install-sh
/libdvdcss*.tar.bz2
/libdvdcss*.tar.gz
/libtool
/ltmain.sh
/missing
/stamp-*
/doc/doxygen.cfg
/doc/html
/m4/libtool.m4
/m4/lt*.m4
/src/*.lo
/src/*.o
/src/.dirstamp
/src/libdvdcss.pc
